.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form_error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: red;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 30vw;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  color: white;
}

.auth-layout {
  align-items: center;
  background: url('/images/train.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  color: $dark-blue;
}

.auth-button {
  @extend .button;
  width: 20vw;
  border-radius: 0.2rem;
}

.settings-layout {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  color: $dark-blue !important;
}

.form_error {
  color: red;
}