.regular-page {
  background: url('/images/castle.jpg') no-repeat fixed center;
  background-size: cover;
  align-items: center;
  height:100%;
  min-height:100vh;
  justify-content: space-between;
  width: 100%;
  padding:0;
}

.items-list {
  display: flex;
  flex-direction: column;
}

.bottom-view {
  background: none;
}

//TODO - pin this view to the right

//.ui-datascroller-content {
//  background: transparent !important;
//  border: none;
//  width: 60vw;
//}
